.popup{
    width: 400px;
    background: linear-gradient(135deg,#dbeafe,#bfdbfe);
    border-radius: 20px;
    padding: 25px;
    box-shadow: 0 18px 35px rgba(0,0,0,0.15);
}

.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:15px;
}

.header h3{
    margin:0;
    color:#1f2d3d;
}

.header button{
    border:none;
    background:none;
    cursor:pointer;
    font-size:18px;
}

p{
    color:#5b6472;
    margin-bottom:20px;
}

.action-btn{
    width:100%;
    border:none;
    cursor:pointer;
    padding:12px;
    border-radius:12px;
    background:#4568b2;
    color:white;
    font-weight:600;
}